{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}
    <nav>{{ parent() }}</nav>
    <div class="container">
        <h1>Ajouter une annonce</h1>

        {{ include('gite/_form.html.twig') }}

        <a href="{{ path('app_gite_index') }}">back to list</a>
    </div>
{% endblock %}
