{% extends 'base.html.twig' %}

{% block title %}New Gite{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Gite</h1>

        {{ include('gite/_form.html.twig') }}

        <a href="{{ path('app_gite_index') }}">back to list</a>
    </div>
{% endblock %}
