{% extends 'base.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block body %}
    <h1>Owner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Password</th>
                <th>Id_contact</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="">show</a>
                    <a href="">edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="">Create new</a>
{% endblock %}
