{% extends 'base.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block body %}
    <h1>Owner index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="">show</a>
                    <a href="">edit</a>
                    <form action="" method="post">
                        <input type="number" name="quantity" required>
                        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="">Create new</a>
{% endblock %}
