{% extends "base.html.twig" %}
{% block body %}

    <form class="container">
        <div class="mb-3">
            <label for="firstname" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="firstname">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Nom</label>
            <input type="text" class="form-control" id="lastname">
        </div>
        <div class="mb-3">
            <label for="adress" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adress">
        </div>
        <div class="mb-3">
            <label for="postcode" class="form-label">Code postal</label>
            <input type="text" class="form-control" id="postcode">
        </div><div class="mb-3">
            <label for="town" class="form-label">Ville</label>
            <input type="text" class="form-control" id="town">
        </div><div class="mb-3">
            <label for="telephone" class="form-label">Numéro de téléphone</label>
            <input type="text" class="form-control" id="telephone">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password">
        </div>

        <button type="submit" class="btn btn-primary">S'incrire</button>
    </form>
{% endblock %}